name: PullRequestReviewResult

on:
  pull_request_review:
    types:
      - submitted
jobs:
  update-issue-on-request-changes:
    runs-on: ubuntu-latest
    # レビューのタイプが 'approved'、'changes_requested' の場合にのみ実行
    if: ${{ github.event.review.state == 'approved' || github.event.review.state == 'changes_requested' }}
    steps:
      - name: Extract Issue number from PR body
        id: get_issue_number
        run: |
          # PR本文から #123 の形式のIssue番号を抽出する（正規表現は適宜調整してください）
          PR_BODY="${{ github.event.pull_request.body }}"
          ISSUE_NUMBER=$(echo "$PR_BODY" | grep -oE '#[0-9]+' | head -n 1 | tr -d '#')
          if [ -n "$ISSUE_NUMBER" ]; then
            echo "issue_number=$ISSUE_NUMBER" >> $GITHUB_OUTPUT
            echo "Found Issue Number: $ISSUE_NUMBER"
          else
            echo "::error::No Issue NUMBER found in PR body. Please link an issue (e.g., #123)."
            exit 1
          fi

      - name: Extract Issue Id from Issue No
        id: get_issue_id
        env:
          GITHUB_TOKEN: ${{ secrets.Sample_My_Secret }}
        run: |
          RESPONSE=$(gh api graphql \ 
            -F orga="${{ github.repository_owner }}" -F repo="${{ github.event.repository.name }}" -F numb=${{ steps.get_issue_number.outputs.issue_number }} \
            -f query="query($orga: String!, $repo: String!, $numb: Int!) { repository(owner: $orga, name: $repo) { issue(number: $numb) { id projectItems(first:1) { nodes { id } } } } } " \
            --jq '.data.repository.issue.projectItems.nodes.id' \
          )
          ISSUE_GLOBAL_ID=$RESPONSE
          if [ -n "$ISSUE_GLOBAL_ID" ]; then
            echo "issue_global_id=$ISSUE_GLOBAL_ID" >> $GITHUB_OUTPUT
            echo "Found Issue Id: $ISSUE_GLOBAL_ID"
          else
            echo "::error::No Issue Id from Issue No. Please link an issue (e.g., #123)."
            exit 1
          fi

      - name: Set Project Custom FieldId
        id: get_status
        run: |
          if ${{ github.event.review.state == 'approved' }}; then
            ISSUE_STATUS="aec7d9c6" # 承認
          elif ${{ github.event.review.state == 'changes_requested' }}; then
            ISSUE_STATUS="cd31b70e" # 否認
          else
            ISSUE_STATUS="c90d9d31" # 依頼
          fi
          if [ -n "$ISSUE_STATUS" ]; then
            echo "issue_status=$ISSUE_STATUS" >> $GITHUB_OUTPUT
            echo "Found Issue STATUS: $ISSUE_STATUS"
          else
            echo "::error::No Issue STATUS found in Review State. Please check state."
            exit 1
          fi

      - name: changes status to the linked Issue
        if: ${{ steps.get_issue_number.outputs.issue_number != '' }} && ${{ steps.get_status.outputs.issue_status != '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.Sample_My_Secret }}
        run: |
          gh project item-edit --id '${{ steps.get_issue_id.outputs.issue_global_id }}' --field-id 'PVTSSF_lADODp9rL84BJGxGzg5XjHw' --project-id 'PVT_kwDODp9rL84BJGxG' --single-select-option-id '${{ steps.get_status.outputs.issue_status }}'
