name: PullRequestDenial
on:
  pull_request_review:
    types:
      - submitted
jobs:
  update-issue-on-request-changes:
    runs-on: ubuntu-latest
    # レビューのタイプが 'REQUEST_CHANGES' の場合にのみ実行
    permissions:
      contents: read
      issues: write # Issue を更新するための権限が必要
      pull-requests: read
    steps:
      - name: Extract Issue number from PR body
        echo github.event.review.state

